{% extends 'base.html' %}
{% load static %}

{% block content %}




<div class="container">
	<div class="row justify-content-center">

	<form action="" method="POST">



		{% csrf_token %}
        <div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Product Compare</h1>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{% static 'css/static/img/img2.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'css/static/img/img1.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="{% static 'css/static/img/img3.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                <h3>Search the name of the product!</h3>
                <br>
                <div class="input-group mb-3">

                  <button type="submit" class="btn btn-primary">Search</button>

                        <input type="text" name="search" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                </div>
            </div>
        </div>
    </div>
</div>



	</form>
</div></div>






{% endblock content %}